body{
    background-color: white;
}

#principal{
    width: auto;
    height: 200px;
    background-color: #00BFFF;
}

a{
    text-decoration: none;
    color: black;
    padding: 15px;
    margin-left: 10px;
}

#a{
    padding-top: 15px;
    padding-left: 30px;
    font-weight: bold;
}

.card{
    width: 520px;
    height: 200px;
    background-color: #00BFFF;
    margin-left: 360px;
    padding: 8px;
    float: left;
    color: black;
    margin-top: 15px;
    
}

span{
    color: black;
    ;
}

p{
    text-align: center;
    font-size: 25px;
}

h1{
    text-align: center;
    font-size: 35px;
    font-size: 30px;
    color: black;
}

.skills{
   
    height: 160px;
    background-color: #00BFFF;
    float: left;
    width: 520px;
    margin-left: 360px;
    margin-top: 300px;
    color: black;    
}

#faq{
    cursor: pointer; 
    font-size: 20px; 
    font-weight: bold; 
    color: black;
    float: left;
    padding-left: 5px;
    
}

#lad{
    display: none;
    color: black;
}

span p {
     margin-top: 45px;
     font-size: 20px;
     text-align: justify;
}

#faq1{
    cursor: pointer; 
    font-size: 20px; 
    font-weight: bold; 
    color: black;
    float: left;
    padding-left: 190px;
    padding-top: -35px;
    
}

#lad1{
    display: none;
    color: black;
}

#faq2{
    cursor: pointer; 
    font-size: 20px; 
    font-weight: bold; 
    color: black;
    float: right;
    padding-top: -35px;
    padding-right: 5px;
    
}

#lad2{
    display: none;
    color: black;
}

.projetos{
    width: 400px;
    height: 100px;
    float: right;
    background-color: #00BFFF;
    margin-right: 500px;
    margin-top: -360px;
    color: black;
}

#meuPortifolio{
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

#linkProjetos{
    text-decoration: none;
    color: black;
    margin-left: 95px;
}

#projetos{
    
}